<!--<app-header [isNotHome]="isNotHome"  [pageTitle]="pageTitle"></app-header> -->

<app-header [pageTitle]="titulo">

</app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>Marco Sanhueza</ion-card-title>
    </ion-card-header>
  <img src="./../../../assets/img/Mi Cara.jpeg" alt="">
    <ion-card-content>
    Marco Alexis Sanhueza Gomez
    Analista programador Computacional 
    20.2020.364-9
    Me gusta jugar lol, me gusta rapear, mi sueño es ir a francia y conocer la torre eiffel 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>Constanza Figueroa</ion-card-title>
    </ion-card-header>
  <img src="./../../../assets/img/yo.jpg" alt="">
    <ion-card-content>
      Constanza Javiera Figueroa Rebolledo
      22 años
      Analista Programador Computacional 
      Me encantan los gatos y jugar en mi pc. Me encanta dormir y odio las multitudes de gente.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>Alexandra Veas</ion-card-title>
    </ion-card-header>
  <img src="./../../../assets/img/carla.jpg" alt="">
    <ion-card-content>
      Alexandra Carla Veas Muñoz 
      tengo 21 años
       20.637.522-1
      Analista Programador Computacional
      también soy administrador con mención en recursos humanos, me gusta jugar  los sims y mi mayor sueño es vivir en el sur de chile
    </ion-card-content>
  </ion-card>


</ion-content>