<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <img src="../../../assets/img/1autitoTellevo.png" alt="Logo" slot="end" class="logo">
  
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card >
    <ion-card-header>
      <img src="/assets/img/viaje.jpg" alt="viaje">
      <ion-card-title>Planifica tu viaje </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur et.
    </ion-card-content>

    <ion-card >
      <ion-card-header>
        <img src="/assets/img/ambiente.jpg" alt="viaje">
        <ion-card-title>Ayuda al Medio Ambiente </ion-card-title>
      </ion-card-header>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat consequuntur fugiat vitae illum facilis explicabo. Optio, vel ut. Natus tempora, omnis maxime in laborum magni voluptas molestiae commodi minus eveniet.
    </ion-card-content>
  </ion-card>


  
    
  <ion-tab-bar >
      <ion-tab-button tab="speakers" routerLink="/perfilconductor" >
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Mi Cuenta</ion-label>

      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="car"></ion-icon>
        <ion-label>Mis viajes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  <ion-content>
